<head>
    <meta charset="UTF-8">
</head>
<body>

      <!-- Header -->
      <%- include('header.ejs') %>     

    <h1>Vous êtes sur ma page About Me</h1>

      <!-- Footer -->
      <%- include('footer.ejs') %>

</body>
