<header>

    <title><%= title %></title>

    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/error404">Erreur 404</a></li>
        <li><a href="/chat">Chat</a></li>
      </ul>
    </nav>
</header>