<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <%- include('parts/header.ejs') %>

    <h1>Bienvenue sur ma page d'accueil</h1>

    <%- include('parts/footer.ejs') %>


</body>
</html>
