<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <!-- Header -->
    <%- include('header.ejs') %>

<!-- Body -->
  <p>Bienvenue sur mon site web !</p>

<!-- Footer -->
    <%- include('footer.ejs') %>

</body>
</html>