<!DOCTYPE html>
<html>
  <head>
    <title>Page de connexion</title>
  </head>
  <body>
    <h1>Page de connexion</h1>
    <form id="loginForm" action="/login" method="post">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Se connecter">
    </form>
  </body>
</html>
